body {
  background-color: white;
  font-family: "Optima", sans-serif;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 20px;
  background-image: linear-gradient(to left, rgb(75, 113, 92), rgb(61, 106, 82), rgb(52, 92, 71), rgb(36, 74, 54), rgb(23, 57, 39), rgb(7, 36, 21), rgb(1, 16, 8));   
  -webkit-background-clip: text;
  color: transparent;
  line-height: 35px;
  letter-spacing: 2px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}

p.past {
  font-size: 16px;
  background-image: linear-gradient(to left, rgb(75, 113, 92), rgb(61, 106, 82), rgb(52, 92, 71), rgb(36, 74, 54), rgb(23, 57, 39), rgb(7, 36, 21), rgb(1, 16, 8));   
  -webkit-background-clip: text;
  color: transparent;
  line-height: 35px;
  letter-spacing: 2px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}

#credit {
  font-size: 15px;
  color: rgb(7, 36, 21);
}

ul {
  list-style-type: none;
  line-height: 35px;
  letter-spacing: 2px;
  font-size: 20px;
  background-image: linear-gradient(to left, rgb(75, 113, 92), rgb(61, 106, 82), rgb(52, 92, 71), rgb(36, 74, 54), rgb(23, 57, 39), rgb(7, 36, 21), rgb(1, 16, 8));   
  -webkit-background-clip: text;
  color: transparent;
  margin: 40px;
}

li.health {
  margin: 40px;
}

h1 {
  font-size: 120px;
  color: black;
}

.title {
 color: black;
 margin: 300px;
 margin-top: 30px;
 margin-bottom: 30px;
}

img {
  display: inline;
  margin: 40px;
  height: 150px;
  width: auto;
}


/* NavBar styling */

nav a {
  display: inline-block;
  margin: 40px;
  text-decoration: none;
  font-family: "Optima", sans-serif;
  color: black;
  border-bottom: none;
}

.enlarge {
  transition: transform .2s;
}

.enlarge:hover {
  transform: scale(1.5); 
}

nav a:hover,
nav a:active {
  color: rgb(166, 186, 178);
  border-bottom: none;
}

nav a.active {
  color: rgb(74, 103, 90);
}

#numberNav {
  font-size: 100px;
  padding-top: 150px;
}

#descriptionNav {
  font-size: 25px;
  letter-spacing: 5px;
  padding-top: 100px;
  padding-bottom: 50px;
}

#editNav{
  font-size: 16px;
  letter-spacing: 5px;
  display: inline-block;
}

/* Login Form styling */

.login {
  font-size: 25px;
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.input-login {
  width: 20%;
  padding: 20px;
  background-color: white;
}

input[type=text],
input[type=password] {
  border: none;
  /* border-bottom: 2px solid black; */
  font-size: 20px;
  font-family: "Optima", sans-serif;
  text-align:center
}

input[type=text]:focus,
input[type=date]:focus,
textarea:focus,
input[type=password]:focus {
  outline:none ;
}

::placeholder {
  color: rgb(166, 186, 178);
  font-family: "Optima", sans-serif;
  text-align:center
}

.buttonSubmit {
  text-align: center;
  font-family: "Optima", sans-serif;
  border: none;
  background-color:transparent;
  color: rgb(7, 36, 21);
  padding: 40px;
  font-size: 20px;
  display: block;
  transition-duration: 0.4s;
  margin-left: auto;
  margin-right: auto;
}
.buttonSubmit:hover {
  background-color:white;
  color: rgb(166, 186, 178);
}

/*journal entry styling*/
.input-entry {
  width: 90%;
  height: 300px;
  padding: 10px;
  margin: 50px;
  background-color: white;
  text-align: left;
  font-family: "Optima", sans-serif;
  font-size: 18px;
}

input[type=date] {
  /* border: none; */
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Optima", sans-serif;
  height: 40px;
  padding: 10px;
}

/* delete button */

.buttonDelete {
  text-align: center;
  font-family: "Optima", sans-serif;
  border: none;
  background-color:transparent;
  color: rgb(7, 36, 21);
  font-size: 16px;
  display: inline-block;
  transition-duration: 0.4s;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 5px;
}
.buttonDelete:hover {
  background-color:white;
  color: rgb(166, 186, 178);
}


/* logout button */
.buttonLogout {
  text-align: center;
  font-family: "Optima", sans-serif;
  border: none;
  background-color:transparent;
  color: rgb(7, 36, 21);
  padding: 40px;
  font-size: 20px;
  display: block;
  transition-duration: 0.4s;
  margin-right: 100px;
  margin-left: auto;
}
.buttonLogout:hover {
  background-color:white;
  color: rgb(166, 186, 178);
}

/* miscellaneous animation styling */

.fade {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}